{% extends 'base.html' %}


{%block content%}


    <div class="container">

     <div class="row ">
         <div class="col-sm-2 bg-light">
             <div class="list-group list-group-flush">
        <a href="#" class="navbar-brand col-sm-3 col-md-2 mr-0 text-body"><h3>Overview</h3></a>
                 <br/>
        <a href="#" class="navbar-brand col-sm-3 col-md-2 mr-0 text-body"><h3>Information</h3></a>
                 <br/>
          <a href="#" class="navbar-brand col-sm-3 col-md-2 mr-0 text-body"><h3>Team</h3></a>
                 <br/>
         <a href="#" class="navbar-brand col-sm-3 col-md-2 mr-0 text-body"><h3>Contant</h3></a>
                 <br/>
          <a href="#" class="navbar-brand col-sm-3 col-md-2 mr-0 text-body"><h3>Events</h3></a>
      </div> </div>




        <div class="col ">
          <div class="col py-3 px-lg-5 border bg-light">
        <h1>FOOD SAFETY AND QUALITY ASSURANCE TRACEABILITY SOLUTION USING BLOCKCHAIN TECHNOLOGY </h1>

        <p>
           Decapolis provides a platform for certification the quality of food to food producers worldwide. The mission of Decapolis is to provide guaranteed premium goods for which the end-to-end supply chain complies with strict quality control standards. Quality is guaranteed by means of an unbroken chain of tamper-proof records of quality assessment at each stage of the production and delivery processes.

Using their mobile phone, the end-customer at the point of sale is able to view the provenance of the food product and certification at each stage. This will positively influence the consumer for trust in the Decapolis Certification Brand and help to make the decision to buy the premium product.
        </p>



<br /><br />
        <br /><br />


  </div>
    </div>
  </div>
</nav>
</body>
</div>






</div>
</div>

{%endblock content%}
